.dividerRow {
  width: 30px;
  border-bottom: 0.3vw solid teal;
  margin-bottom: 24px;
}

.leftContent {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 400px;
}

.companyNameContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}
.companyName {
  font-weight: bold;
  color: teal;
}
.center {
  margin-bottom: 40px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.secondaryTxt {
  text-align: center;
  margin-top: 40px;
  font-weight: 500;
  color: rgb(74, 74, 95);
}

.bottomTxt {
  color: gray;
  font-weight: 400;
  margin-top: 30px;
  text-align: center;
}
.btnContainer {
  margin-top: 40px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 12px;
  border-radius: 20px;
  width: 150px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  background-color: teal;
  color: white;
  border: 1px solid teal;
  cursor: pointer;
  box-shadow: rgba(14, 170, 40, 0.2) 0px 20px 20px -7px;
}

.button:hover {
  color: teal;
  background-color: white;
}

.aboutSectionContainer {
  border: 1px solid teal;
}

.mapContainer {
  width: 100%;
  background-color: #f3f3f3;
}

.mapHeader {
  color: teal;
  padding: 10px 0 0 10px;
}

.aboutImg2,
.aboutImg2 {
  display: none;
}

.border {
  width: 90%;
  margin-left: 5%;
  border-top: 2px solid rgb(189, 179, 179);
  margin-bottom: 60px;
}

@media only screen and (max-width: 992px) {
  .aboutImg2 {
    display: block !important;
  }
  .aboutImg1 {
    display: none;
  }
  .aboutUsTxtContainer {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 992px) {
  .aboutImg1 {
    display: block !important;
  }
  .aboutimg2 {
    display: none;
  }
  .aboutUsTxtContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.sectionImgRight {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
